.armor-sets-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;

    .rank-choice{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .armor-set-list{
        display: flex;
        flex-direction: column;
        height: 700px;
        overflow-y: scroll;

        .single-armor-set{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 330px;

            .armor-set-name{
                width: 100px;
                text-align: start;
            }

            .armor-set-pieces{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 200px;
            }
            
            .armor-set-piece-unit{
                height: 20px;
                width: 20px;
                border: 1px solid black ;
            }

        }
        
    }
}
